<%= form_with(model: post) do |form| %>
  <%= render "public/shared/error_messages", resource: form.object %>

  <dl class="form-group form-row">
    <dt class="col-md-3 col-form-label font-weight-normal">
      投稿先プロジェクト
    </dt>
    <dd class="col-md-9 col-form-label">
      <%= render "public/projects/title", project: post.project %>
    </dd>
  </dl>
  <%= form.hidden_field :project_id %>

  <div class="form-group form-row">
    <%= form.label :image, class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <div id="wrap-image-preview" class="bg-light image-box mb-2">
      <% if post.image.attached? %>
        <%= image_tag post.get_image(640, 360), alt: "プレビュー", id: "image-preview" %>
      <% else %>
        <%= image_tag asset_path("post_placeholder.png"), alt: "プレビュー", id: "image-preview" %>
      <% end %>
      </div>
      <%= form.file_field :image, accept: "image/*", id: "image-file-field", class: "form-control-file" %>
      <div id="safe-seaech-detection">
        <%= form.fields_for :safe_seaech_detection do |safe_seaech_detection| %>
          <% [:adult, :spoof, :medical, :violence, :racy].each do |category| %>
            <%= safe_seaech_detection.text_field category, data: { category: category.to_s }, class: "form-control" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group form-row">
    <%= form.label :body, class: "col-md-3 col-form-label required" %>
    <div class="col-md-9">
      <%= form.text_area :body, required: "required", class: "form-control" %>
    </div>
  </div>

  <div class="form-group form-row">
    <%= form.label :working_minutes, class: "col-md-3 col-form-label d-flex flex-wrap align-items-baseline" do %>
      <span>作業時間</span><small>（分）</small>
    <% end %>
    <div class="col-md-9">
      <%= form.number_field :working_minutes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-0">
    <div class="col-6">
      <%= link_to "キャンセル", "javascript:history.back()", class: "btn btn-lg btn-outline-secondary btn-block rounded-pill" %>
    </div>
    <div class="col-6">
      <%= form.submit id: "btn-submit", class: "btn btn-lg btn-outline-success btn-block rounded-pill" %>
    </div>
  </div>
<% end %>

<!--<template>-->
<!--  <div id="error_explanation" data-turbo-cache="false">-->
<!--    <strong>-->
<!--      3 件のエラーが発生したため ユーザー は保存されませんでした。-->
<!--    </strong>-->
<!--    <ul>-->
<!--      <li>メールアドレスはすでに存在します</li>-->
<!--      <li>パスワード（確認用）とパスワードの入力が一致しません</li>-->
<!--      <li>パスワードは6文字以上で入力してください</li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</template>-->

<% if post.image.attached? %>
  <%= render "layouts/image_preview", image: post.get_image(640, 360) %>
<% else %>
  <%= render "layouts/image_preview", image: asset_path("post_placeholder.png") %>
<% end %>
