<%= form_with(model: post) do |form| %>
  <%= render "public/shared/error_messages", resource: form.object %>

  <dl class="form-group form-row">
    <dt class="col-md-3 col-form-label font-weight-normal">
      投稿先プロジェクト
    </dt>
    <dd class="col-md-9 col-form-label">
      <%= post.project.title %>
    </dd>
  </dl>
  <%= form.hidden_field :project_id %>

  <div class="form-group form-row">
    <%= form.label :image, class: "col-md-3 col-form-label" %>
    <div class="col-md-9">
      <%= form.file_field :image, accept: "image/*", class: "form-control-file" %>
    </div>
  </div>

  <div class="form-group form-row">
    <%= form.label :body, class: "col-md-3 col-form-label required" %>
    <div class="col-md-9">
      <%= form.text_area :body, required: "required", class: "form-control" %>
    </div>
  </div>

  <div class="form-group form-row">
    <%= form.label :working_minutes, class: "col-md-3 col-form-label d-flex flex-wrap align-items-baseline" do %>
      <span>作業時間</span><small>（分）</small>
    <% end %>
    <div class="col-md-9">
      <%= form.number_field :working_minutes, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row mb-0">
    <div class="col-6">
      <%= link_to "キャンセル", "javascript:history.back()", class: "btn btn-lg btn-outline-secondary btn-block rounded-pill" %>
    </div>
    <div class="col-6">
      <%= form.submit class: "btn btn-lg btn-outline-success btn-block rounded-pill" %>
    </div>
  </div>

<% end %>