<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10 mb-4">
      <div class="card">
        <div class="card-header d-flex align-items-center bg-transparent border-bottom">
          <%= render "public/users/link", user: @post.user %>
          <span class="mx-2">＞</span>
          <%= link_to project_path(@post.project), class: "text-reset font-weight-bold text-oneline" do %>
            <%= render "public/projects/title", project: @post.project %>
          <% end %>
        </div>
        <% if @post.image.attached? %>
          <div class="card-img-top text-center bg-light border-bottom">
            <%= image_tag @post.image, class: "mw-100" %>
          </div>
        <% end %>
        <div class="card-body">
          <p><%= @post.body %></p>
          <p class="text-muted m-0">
            <small>投稿日：<%= @post.created_at.strftime("%Y/%m/%d") %></small>
            <% unless @post.working_minutes.blank? %>
              ｜<small>作業時間：<%= @post.working_minutes %>min</small>
            <% end %>
          </p>
        </div>
        <div id="post_comments">
          <%= render "public/comments/comment_list", comments: @comments %>
        </div>
        <% if user_signed_in? %>
          <div id="post_comment_form" class="card-body border-top">
            <%= render "public/comments/form", post: @post, comment: @new_comment %>
          </div>
        <% end %>
        <% if @post.user == current_user %>
          <div class="card-footer">
            <div class="row justify-content-center">
              <div class="col-6 col-lg-5">
                <%= link_to "編集", edit_post_path(@post), class: "btn btn-block btn-outline-secondary btn-bg-white rounded-pill" %>
              </div>
              <div class="col-6 col-lg-5">
                <%= link_to "削除", post_path(@post), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-block btn-outline-danger btn-bg-white rounded-pill" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-sm-9">
      <%= link_to "プロジェクトに戻る", project_path(@post.project), class: "btn btn-lg btn-block btn-outline-secondary btn-bg-white rounded-pill" %>
    </div>
  </div>
</div>
