<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-9 col-xl-8">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-baseline">
          <h1 class="h4 m-0">新規会員登録</h1>
          <p class="m-0"><small><span class="text-required">*</span>は必須項目です</small></p>
        </div>
        <div class="card-body">
          <%= form_with model: @user, url: user_registration_path do |form| %>
            <%= render "public/shared/error_messages", resource: resource %>

            <div class="form-group form-row">
              <%= form.label :image, class: "col-md-3 col-form-label" %>
              <div class="col-md-9">
                <div id="wrap-image-preview" class="bg-light icon-box mb-2">
                  <%= image_tag asset_path("user_placeholder"), alt: "プレビュー", id: "image-preview" %>
                </div>
                <%= form.file_field :image, accept: "image/*", id: "image-file-field", class: "form-control-file" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :name, class: "col-md-3 col-form-label required" %>
              <div class="col-md-9 align-self-center">
                <%= form.text_field :name, autocomplete: "username", required: "required", class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :description, class: "col-md-3 col-form-label" %>
              <div class="col-md-9 align-self-center">
                <%= form.text_area :description, class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :email, class: "col-md-3 col-form-label required" %>
              <div class="col-md-9 align-self-center">
                <%= form.text_field :email, autocomplete: "email", required: "required", class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :telephone_number, class: "col-md-3 col-form-label d-flex flex-wrap align-items-baseline required" do %>
                <span>電話番号</span><small>(ハイフンなし)</small>
              <% end %>
              <div class="col-md-9 align-self-center">
                <%= form.text_field :telephone_number, autocomplete: "tel", pattern: "\\d*", required: "required", class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :password, class: "col-md-3 col-form-label d-flex flex-wrap align-items-baseline required" do %>
                <span>パスワード</span>
                <% if @minimum_password_length %>
                  <small>(<%= @minimum_password_length %>文字以上)</small>
                <% end %>
              <% end %>
              <div class="col-md-9 align-self-center">
                <%= form.password_field :password, autocomplete: "new-password", required: "required", class: "form-control" %>
              </div>
            </div>

            <div class="form-group row">
              <%= form.label :password_confirmation, class: "col-md-3 col-form-label d-flex flex-wrap align-items-baseline required" do %>
                <span>パスワード</span><small>(確認用)</small>
              <% end %>
              <div class="col-md-9 align-self-center">
                <%= form.password_field :password_confirmation, autocomplete: "new-password", required: "required", class: "form-control" %>
              </div>
            </div>

            <hr>

            <div class="form-group m-0">
              <%= form.submit class: "btn btn-lg btn-outline-success btn-block rounded-pill" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer">
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render "layouts/image_preview", image: asset_path("user_placeholder") %>
