<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-5 col-xl-4">
      <div class="sticky-menu">
        <div class="card mb-3">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <%= render "public/projects/status", status: @project.status %>
              <% unless @project.user == current_user %>
                <%= render "public/bookmarks/btn", project: @project %>
              <% end %>
            </div>
            <h2 class="card-title h4"><%= @project.title %></h2>
            <%= render "public/users/link", user: @project.user %>
            <p class="card-text"><%= @project.description %></p>
          </div>
          <div class="card-body border-top">
            <%= render partial: "public/tags/tag", collection: @project.tags, as: "tag" %>
            <p class="card-text text-muted text-mini">
              <span>作成 <%= @project.created_at.strftime("%Y/%m/%d") %><span>
              <% if @project.total_working_minutes > 0 %>
                <span>｜総作業時間 <%= @project.total_working_minutes %>min<span>
              <% end %>
            </p>
          </div>
          <% if current_user == @project.user %>
            <div class="card-footer">
              <div class="row">
                  <div class="col-6">
                    <%= link_to edit_project_path(@project), class: "btn btn-sm btn-block btn-outline-secondary btn-bg-white rounded-pill" do %>
                      編集
                    <% end %>
                  </div>
                  <div class="col-6">
                    <%= link_to project_path(@project), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm btn-block btn-outline-danger btn-bg-white rounded-pill" do %>
                      削除
                    <% end %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <% if current_user == @project.user && @project.status != "completed" %>
          <%= link_to new_post_path(project: @project), class: "btn btn-lg btn-block btn-outline-success btn-bg-white rounded-pill mb-4" do %>
            投稿する
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-10 col-lg-7 col-xl-6">
      <% unless @project.posts.present? %>
        <p class="h4 text-wbr text-center mb-3">まだプロジェクトに<wbr>投稿がありません</p>
      <% end %>
      <% if @project.posts.present? %>
        <%= render partial: "public/posts/summary", collection: @project.posts.order(updated_at: :desc), as: "post" %>
      <% end %>
    </div>
  </div>
</div>
