<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <div class="card mb-4">
        <div class="card-body">
          <%= form_with(url: admin_users_path, method: :get) do |form| %>
            <% if @is_active.present? %>
              <%= form.hidden_field :is_active, value: @is_active %>
            <% end %>
            <div class="d-flex">
              <%= form.text_field :search_word, placeholder: "ユーザー名", value: @search_word, class: "form-control form-control-lg" %>
              <%= form.submit "検索", name: nil, class: "btn btn-lg btn-secondary ml-2" %>
            </div>
          <% end %>
        </div>
        <div class="card-footer bg-light p-0">
          <ul class="nav nav-fill">
            <li class="nav-item">
              <%= link_to "すべて", admin_users_path(helper_nav_link_params("")), class: helper_nav_link_class("") %>
            </li>
            <li class="nav-item">
              <%= link_to "有効", admin_users_path(helper_nav_link_params("true")), class: helper_nav_link_class("true") %>
            </li>
            <li class="nav-item">
              <%= link_to "停止中", admin_users_path(helper_nav_link_params("false")), class: helper_nav_link_class("false") %>
            </li>
          </ul>
        </div>
      </div>
      <% if @search_word.present? %>
        <p class="h4 mb-4">
          <span>「<%= @search_word %>」の検索結果</span>
          <% if @users.present? %>
            <span>（全<%= @users.count %>件）</span>
          <% else %>
            <span>は見つかりませんでした</span>
          <% end %>
        </p>
      <% end %>
      <div class="row">
        <%= render partial: "admin/users/summary", collection: @users, as: "user" %>
      </div>
      <%= paginate @users %>
    </div>
  </div>
</div>