<div class="col-12">
  <div class="card mb-2">
    <div class="card-body">
      <div class="d-flex position-relative">
        <div>
          <%= image_tag notification.notifiable_user.get_image(32, 32), class: "border border-light rounded-circle" %>
        </div>
        <div class="ml-3 w-100 align-self-center position-static">
          <%= link_to notification, method: :patch, class: "text-reset stretched-link" do %>
             <%= notification.message %>
          <% end %>
          <p class="card-text text-muted text-mini"><%= notification.created_at %></p>
        </div>
        <div class="ml-3 card-another-link">
          <%= link_to read_notification_path(notification), class: "close", aria: {label: "Close"} do %>
            <span aria-hidden="true">&times;</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>