<div class="card mb-4">
  <div class="card-body">
    <div class="d-md-flex">
      <div class="mb-3 mb-md-0 text-center">
        <%= image_tag user.get_image(128, 128), class: "border border-light rounded-circle" %>
      </div>
      <div class="ml-md-3 w-100">
        <div class="d-flex flex-wrap align-items-center mb-3">
          <h3 class="h5 font-weight-bold"><%= user.name %></h3>
          <div class="ml-auto"><%= render "public/relationships/btn", user: @user %></div>
        </div>
        <p><%= user.description %></p>
      </div>
    </div>
  </div>
  <div class="card-footer bg-light p-0">
    <ul class="nav nav-fill">
      <li class="nav-item">
        <%= link_to user_path(user), class: helper_nav_link_class("show") do %>
          プロジェクト
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to followings_user_path(user), class: helper_nav_link_class("followings") do %>
          フォロー
        <% end %>
      </li>
      <% if @user == current_user && @user.followers.count > 0 %>
        <li class="nav-item">
          <%= link_to followers_user_path(user), class: helper_nav_link_class("followers") do %>
            フォロワー
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to bookmarks_user_path(user), class: helper_nav_link_class("bookmarks") do %>
          ブックマーク
        <% end %>
      </li>
    </ul>
  </div>
</div>