<div class="col-12 col-lg-6 mb-4">
  <div class="card h-100">
    <div class="card-body">
      <div class="d-flex position-relative">
        <div>
          <%= image_tag user.get_image(72, 72), class: "border border-light rounded-circle" %>
        </div>
        <div class="ml-3 w-100 position-static">
          <%= link_to user_path(user), class: "text-reset font-weight-bold stretched-link" do %>
            <h3 class="card-title h6 font-weight-bold text-oneline"><%= user.name %></h3>
          <% end %>
          <p class="card-text text-twoline">
            <small><%= user.description %></small>
          </p>
        </div>
      </div>
    </div>
    <% if user_signed_in? || admin_signed_in? %>
      <div class="card-footer">
        <div class="card-another-link">
          <%= render "public/relationships/btn", user: user %>
        </div>
      </div>
    <% end %>
  </div>
</div>