<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand", aria: {label: "閑林-KanRin-"} do %>
      <div class="navbar-brand__logo" aria-hidden="true"></div>
    <% end %>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "マイページ", user_path(current_user), class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "探す", projects_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "みんなの投稿", posts_path, class: "nav-link" %></li>
        <li class="nav-item">
          <%= link_to notifications_user_path(current_user), class: "nav-link" do %>
            <span>通知</span>
            <% if current_user.notifications.unread.count > 20 %>
              <span class="badge badge-danger">20+</span>
            <% elsif current_user.notifications.unread.count > 0 %>
              <span class="badge badge-danger"><%= current_user.notifications.unread.count %></span>
            <% end %>
          <% end %>
        </li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %></li>
      <% elsif admin_signed_in? %>
        <li class="nav-item"><%= link_to "ユーザー管理", admin_users_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "投稿管理",admin_safe_seaech_detections_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %></li>
      <% else %>
        <li class="nav-item"><%= link_to "ヘルプ", about_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "新規会員登録", new_user_registration_path, class: "nav-link" %></li>
        <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class: "nav-link" %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
