<!DOCTYPE html>
<html>
  <head>
    <title>Kanrin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "image_preview", "data-turbolinks-track": "reload" %>

    <style>
      .toggle{
        display: grid;
        grid-template-rows: 1fr;
        transition: grid-template-rows 0.5s ease-out;
      }
      .toggle__inner{
        overflow-y: hidden;
      }
      .toggle[aria-hidden="true"]{
        grid-template-rows: 0fr;
      }
    </style>
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="bg-dark">
      <%= render "layouts/footer" %>
    </footer>
  </body>
</html>
